language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"

install:
  - pip install -r test-requirements.txt

script:
  - flake8 --config setup.cfg
  - isort
  - pytest --cov src/åå

after_success:
  - codecov
